name: Deploy Frontend

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: docker build -t mrinal2100/docker-react1 -f Dockerfile.dev .

      - name: Run Tests inside Docker
        run: docker run -e CI=true mrinal2100/docker-react1 npm run test

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Generate deployment package
        run: zip -r deploy.zip . -x "*.git*" "node_modules/*" "Dockerfile.dev"

      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: frontend
          environment_name: frontend
          existing_bucket_name: elasticbeanstalk-ap-south-1-610924852117
          region: ap-south-1
          version_label: ${{ github.sha }}
          deployment_package: deploy.zip